AddDefaultCharset utf-8
php_value short_open_tag 1

RewriteEngine on


RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

DirectoryIndex index.php


RewriteRule ^ua$ index.php [L,QSA]
RewriteRule ^ru$ index.php [L,QSA]
RewriteRule ^en$ index.php [L,QSA]

RewriteRule ^(.*)/our-development$ our-development.php [L,QSA]
RewriteRule ^(.*)/our-development/(.*)/(.*)$ single-our-development.php?category=$2&product=$3 [L,QSA]

RewriteRule ^(.*)/news$ news.php [L,QSA]
RewriteRule ^(.*)/single-news/(.*)$ single-news.php?news=$2 [L,QSA]

RewriteRule ^(.*)/services$ services.php [L,QSA]
RewriteRule ^(.*)/services/(.*)$ single-service.php?service=$2 [L,QSA]

RewriteRule ^(.*)/educational-center$ educational-center.php [L,QSA]
RewriteRule ^(.*)/educational-center/(.*)$ single-educational-center.php?educational=$2 [L,QSA]

RewriteRule ^(.*)/vacancies$ vacancies.php [L,QSA]

RewriteRule ^(.*)/reviews$ reviews.php [L,QSA]

RewriteRule ^(.*)/reviews-participants$ reviews-participants.php [L,QSA]

RewriteRule ^(.*)/courses$ courses.php [L,QSA]

RewriteRule ^(.*)/search$ search.php [L,QSA]

ErrorDocument 404 /404.php

php_flag display_errors off
php_flag display_startup_errors off
